.input-space {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.tab-content {
  padding-top: 2em;
  height: 300px;
  width: 100%;
}
