<mat-toolbar color="accent" class="mat-elevation-z8"  *ngIf="userIsAuthenticated">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Itselfcg</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/projects'"> Projects </a>
      <a mat-button [routerLink]="'/case-studies'"> Case Studies </a>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="userIsAuthenticated" (click)="onLogout()">
      logout
    </button>
  </mat-toolbar-row>

</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/projects'"> Projects </a>
      <a mat-list-item [routerLink]="'/project'"> Create Project </a>
      <a mat-list-item [routerLink]="'/case-studies'"> Case Studies </a>
      <a mat-list-item [routerLink]="'/case'"> Create Case Study </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div >

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
