<mat-toolbar class=" navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="matsideNav.toggle()">menu</mat-icon>
    </button>
    <a [routerLink]="''"><img class="logo" src="/assets/pictures/logo2.png"/></a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/projects'"> Projects </a>
      <a mat-button [routerLink]="'/case-studies'"> Case Studies </a>

    </div>
    <span class="spacer"></span>
    <button mat-icon-button color="warn" (click)="onLogout()">
      logout
    </button>
  </mat-toolbar-row>

</mat-toolbar>


