<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div><h3>Services</h3></div>
        <div>
          <ul>
            <li>
              <a
                href="https://s3.console.aws.amazon.com/s3/buckets/itzel-contreras?region=us-east-2&tab=objects#"
                >S3</a
              >
            </li>
            <li>
              <a href="https://account.mongodb.com/account/login">MongooDB</a>
            </li>

            <li>
              <a
                href="https://us-east-2.console.aws.amazon.com/elasticbeanstalk/home?region=us-east-2#/environments"
                >Elastic Beanstalk</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div><h3>Resources</h3></div>
        <div>
          <ul>
            <li>
              <a href="https://blush.design/es/collections">Blush</a>
            </li>
            <li>
              <a href="https://unsplash.com/">Unsplash</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div><h3>Media</h3></div>
        <div>
          <ul>
            <li>
              <a href="https://github.com/itselfcg">Git</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/itselfcg/">Linkedin</a>
            </li>

            <li>
              <a href="https://codepen.io/itselfcg">Codepen</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
