@use '~@angular/material' as mat;

.login {
  background-color: var(--color-accent);
  background-image: url("https://itzel-contreras.s3.us-east-2.amazonaws.com/introv2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  position: relative;
  background-color: white;
  padding: 4em 3.5em 2em 3.5em;
  margin: 5em;
  @include mat.elevation(4);
  border-radius: 5px;
}

.head {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo {
  width: 100px;
  height: 100px;
  background-color: var(--color-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mat.elevation(4);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 75px;
  height: auto;
}

.btn-login {
  margin-top: 1rem;
  width: 100%;
}

mat-form-field {
  width: 250px;
}

mat-spinner {
  margin: auto;
}

.captchaHide{
  display: none;
}

.captchaShow{
  display: display;
}
