
<div class="login">
  <div *ngIf="isLoading"><mat-spinner></mat-spinner></div>

  <div *ngIf="!isLoading">
    <div class="content">
      <div class="head">
        <div class="logo">
          <img class="img" src="/assets/pictures/logo.png" />
        </div>
      </div>
      <form class="form" [formGroup]="form" (submit)="onLogin()">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="user"
            placeholder="Email or username"
            [errorStateMatcher]="matcher"
          />
          <mat-error>Please enter a valid user.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            #password
            type="password"
            formControlName="password"
            placeholder="Password"
            [errorStateMatcher]="matcher"
            (input)="onPasswordKeyPressed($event.target)"
          />
          <mat-error>Please enter a valid password.</mat-error>
        </mat-form-field>
        <div [ngClass]="showCaptcha ? 'captchaShow' : 'captchaHide'">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="siteKey"
            (success)="successCaptcha=true"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </div>
        <button
          [disabled]="!successCaptcha"
          class="btn-login"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
