.mat-card {
  border-color: aqua;
  margin: 2em;
}

mat-card-header {
  padding: 1em 0 1em;
  margin: a;
}


.mat-column-id,.mat-column-name,.mat-column-key,.mat-column-fileName,.mat-column-actions {
  width: 20% !important;
  word-break: break-word;
}

