.mat-card {
  border-color: aqua;
  margin: 2em;
}

mat-card-header {
  padding: 1em 0 1em;
  margin: a;
}

.mat-column-id {
  width: 5% !important;
  word-break: break-word;
}
.mat-column-lang {
  width: 5% !important;
  word-break: break-word;
}
.mat-column-title {
  width: 15% !important;
  word-break: break-word;
}
.mat-column-labels {
  width: 25% !important;
  word-break: break-word;
}

.mat-column-git_url,
.mat-column-details,
.mat-column-active,
.mat-column-preview_url {
  width: 8.75% !important;
  word-break: break-word;
}
.mat-column-actions {
  width: 15% !important;
  word-break: break-word;
}
