.mat-card {
  border-color: aqua;
  margin: 2em;
}

mat-card-header {
  padding: 1em 0 1em;
  margin: a;
}

.mat-column-id {
  width: 5% !important;
  word-break: break-word;
}
.mat-column-language {
  width: 5% !important;
  word-break: break-word;
}
.mat-column-creation {
  width: 8% !important;
  word-break: break-word;
}
.mat-column-title {
  width: 15% !important;
  word-break: break-word;
}
.mat-column-labels {
  width: 20%;
  word-break: break-word;
}

.mat-column-git_url,
.mat-column-details,
.mat-column-active,
.mat-column-preview_url {
  width: 8% !important;
  word-break: break-word;
}
.mat-column-actions {
  width: 15% !important;
  word-break: break-word;
}

.mat-chip {
  margin: 2px;
  white-space: nowrap;
}

.small-screen {
  display: none;
}
@media (max-width: 768px) {
  .mat-column-title {
    width: 40% !important;
    word-break: break-word;
  }

  .mat-column-git_url,
  .mat-column-details,
  .mat-column-active,
  .mat-column-preview_url,
  .mat-column-actions {
    width: 10% !important;
    word-break: break-word;
  }
  .mat-column-labels,
  .mat-column-creation,
  .mat-column-language {
    width: 0% !important;
    display: none;
  }
  .small-screen {
    display: block;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.mainContainer > * {
  flex: 1;
  margin-right: 15px;
}
