<div class="wrapper" *ngIf="isLoading">
  <div class="inner"><mat-spinner></mat-spinner></div>
</div>

<mat-card class="mat-elevation-z0" *ngIf="!isLoading">
  <mat-card-header>
    <mat-card-title>Projects </mat-card-title>
    <span class="spacer"></span>
    <a
      mat-button
      routerLink="/project"
      routerLinkActive="mat-accent"
      mat-raised-button
      color="primary"
      >NEW PROJECT</a
    >
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3 style="display: inline-block">Filters</h3>
      <span class="spacer"></span>
      <button mat-button color="accent" (click)="clearFilters()">
        Clear filters
      </button>
    </div>
    <div class="input-space">
      <mat-form-field [style.width.%]="25">
        <mat-label>Language</mat-label>
        <mat-select
          [(ngModel)]="languageSelected"
          (selectionChange)="onFilterSelect($event.value + '-language')"
        >
          <mat-option
            *ngFor="let option of filterOptionsLanguage"
            value="{{ option }}"
            >{{ option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width.%]="25">
        <mat-label>Git url</mat-label>
        <mat-select
          [(ngModel)]="gitUrlSelected"
          (selectionChange)="onFilterSelect($event.value + '-git_url')"
        >
          <mat-option
            *ngFor="let option of filterOptions"
            value="{{ option }}"
            >{{ option }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field [style.width.%]="25">
        <mat-label>Preview url</mat-label>
        <mat-select
          [(ngModel)]="previewUrlSelected"
          (selectionChange)="onFilterSelect($event.value + '-preview_url')"
        >
          <mat-option
            *ngFor="let option of filterOptions"
            value="{{ option }}"
            >{{ option }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field [style.width.%]="25">
        <mat-label>Case study</mat-label>
        <mat-select
          [(ngModel)]="detailsSelected"
          (selectionChange)="onFilterSelect($event.value + '-details')"
        >
          <mat-option
            *ngFor="let option of filterOptions"
            value="{{ option }}"
            >{{ option }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="input-space">
      <mat-form-field [style.width.%]="25">
        <mat-label>Active</mat-label>
        <mat-select
          [(ngModel)]="activeSelected"
          (selectionChange)="onFilterSelect($event.value + '-active')"
        >
          <mat-option
            *ngFor="let option of filterOptions"
            value="{{ option }}"
            >{{ option }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field [style.width.%]="75">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Add a filter"
          #input
        />
      </mat-form-field>
    </div>
    <mat-form-field class="example-chip-list" [style.width.%]="100">
      <mat-label>Projects labels</mat-label>
      <mat-chip-list #chipList selectable multiple>
        <mat-chip
          *ngFor="let label of filterLabels"
          #chip="matChip"
          (click)="
            chip.selected ? chip.deselect() : chip.selectViaInteraction()
          "
          [selected]="chip.selected"
          [selectable]="true"
          class="leadr-category-chip"
          (selectionChange)="onChipSelect($event, chip)"
        >
          {{ label }}
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>

    <table mat-table [dataSource]="projectsDataSource" [style.width.%]="100">
      <ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell"
            [colSpan]="projectColumns.length"
            style="text-align: center"
          >
            No records found
          </td>
        </tr>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let project">
          <button
            mat-icon-button
            [cdkCopyToClipboard]="project._id"
            matTooltipPosition="below"
            #tooltip="matTooltip"
            [matTooltip]="project._id"
            matTooltipHideDelay="100"
          >
            <mat-icon aria-hidden="false">file_copy</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef>Lang</th>
        <td mat-cell *matCellDef="let project">{{ project.language }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let project">{{ project.name }}</td>
      </ng-container>

      <ng-container matColumnDef="labels">
        <th mat-header-cell *matHeaderCellDef>Labels</th>
        <td mat-cell *matCellDef="let project">{{ project.labels }}</td>
      </ng-container>
      <ng-container matColumnDef="git_url">
        <th mat-header-cell *matHeaderCellDef>Git</th>
        <td mat-cell *matCellDef="let project">{{ project.git_url }}</td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Case Study</th>
        <td mat-cell *matCellDef="let project">
          <mat-icon *ngIf="project.details === true; else elseBlock"
            >check</mat-icon
          >
          <ng-template #elseBlock><mat-icon>close</mat-icon> </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="preview_url">
        <th mat-header-cell *matHeaderCellDef>Prev</th>
        <td mat-cell *matCellDef="let project">{{ project.preview_url }}</td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let project">
          <mat-icon *ngIf="project.active === true; else elseBlock"
            >check</mat-icon
          >
          <ng-template #elseBlock><mat-icon>close</mat-icon> </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let project">
          <button
            mat-icon-button
            color="accent"
            [routerLink]="['/project/edit', project._id]"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDeleteProject(project._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="projectColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: projectColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="totalProjects"
      [pageSize]="projectsPerPage"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
