.mat-card {
  margin: 2em;
}

mat-card-title {
  padding-top: 1em;
}
mat-toolbar-row {
  border-bottom: #3f51b5 1.5px solid;
}

.tab-content {
  padding-top: 2em;
}

#labels {
  .mat-column-name {
    width: 75% !important;
    word-break: break-word;
  }
  .mat-column-actions {
    width: 25% !important;
    word-break: break-word;
  }
}

#pictures {
  .mat-column-name {
    width: 25% !important;
    word-break: break-word;
  }
  .mat-column-content {
    width: 40% !important;
    word-break: break-word;
  }
  .mat-column-actions {
    width: 20% !important;
    word-break: break-word;
  }

  .mat-column-picture {
    width: 15% !important;
    word-break: break-word;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
