.mat-card {
  margin: 2em;
}

mat-card-title {
  padding-top: 1em;
}
mat-toolbar-row {
  border-bottom: var(--color-primary) 1.5px solid;
}

.tab-content {
  padding-top: 2em;
}

#labels {
  .mat-column-name {
    width: 75% !important;
    word-break: break-word;
  }
  .mat-column-actions {
    width: 25% !important;
    word-break: break-word;
  }
}

#pictures {
  .mat-column-name {
    width: 25% !important;
    word-break: break-word;
  }
  .mat-column-content {
    width: 40% !important;
    word-break: break-word;
  }
  .mat-column-actions {
    width: 20% !important;
    word-break: break-word;
  }

  .mat-column-picture {
    width: 15% !important;
    word-break: break-word;
  }
}

#details {
  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .radio-button {
    margin: 10px;
  }
}
#active {
  label {
    margin: 10px;
  }
  .radio-button {
    margin: 10px;
  }
}

