.mat-card {
  margin: 2em;
}

mat-card-title {
  padding-top: 1em;
}

mat-toolbar-row {
  border-bottom: #3f51b5 1.5px solid;
}

.tab-content {
  padding-top: 2em;
}

#basic {
  .mat-column-name {
    width: 25% !important;
    word-break: break-word;
  }
  .mat-column-content {
    width: 40% !important;
    word-break: break-word;
  }
  .mat-column-actions {
    width: 20% !important;
    word-break: break-word;
  }

  .mat-column-picture {
    width: 15% !important;
    word-break: break-word;
  }
}

#section {
  .mat-column-name {
    width: 15% !important;
    word-break: break-word;
  }
  .mat-column-title {
    width: 15% !important;
    word-break: break-word;
  }
  .mat-column-content {
    width: 35% !important;
    word-break: break-word;
  }

  .mat-column-list {
    width: 20% !important;
    word-break: break-word;
  }
  .mat-column-actions {
    width: 20% !important;
    word-break: break-word;
  }
}

#user {
  .mat-column-name {
    width: 10% !important;
    word-break: break-word;
  }
  .mat-column-age {
    width: 10% !important;
    word-break: break-word;
  }
  .mat-column-occupation {
    width: 15% !important;
    word-break: break-word;
  }
  .mat-column-story {
    width: 30% !important;
    word-break: break-word;
  }
  .mat-column-picture {
    width: 15% !important;
    word-break: break-word;
  }

  .mat-column-actions {
    width: 20% !important;
    word-break: break-word;
  }
}

#insight {
  .mat-column-icon {
    width: 20% !important;
    word-break: break-word;
  }
  .mat-column-title {
    width: 20% !important;
    word-break: break-word;
  }
  .mat-column-content {
    width: 40% !important;
    word-break: break-word;
  }

  .mat-column-actions {
    width: 20% !important;
    word-break: break-word;
  }
}

#active {
  label {
    margin: 10px;
  }
  .radio-button {
    margin: 10px;
  }
}
