

.mat-column-key,
.mat-column-actions {
  width: 25% !important;
  word-break: break-word;
}

.mat-column-value {
  width: 50% !important;
  word-break: break-word;
}


@media (max-width: 768px) {
  .mat-column-value {
    width: 75% !important;
    word-break: break-word;
  }
  .mat-column-key,
  .mat-column-section {
    width: 0% !important;
    display: none;
  }
}
