.mat-card {
  margin: 2em;
}

mat-card-header {
  padding: 1em 0 1em;
  margin: a;
}

#caseStudy {
  .mat-column-id {
    width: 7.5% !important;
    word-break: break-word;
  }

  .mat-column-language {
    width: 7.5% !important;
    word-break: break-word;
  }

  .mat-column-project {
    width: 15% !important;
    word-break: break-word;
  }

  .mat-column-title {
    width: 30% !important;
    word-break: break-word;
  }
  .mat-column-active {
    width: 10% !important;
    word-break: break-word;
  }

  .mat-column-actions {
    width: 15% !important;
    word-break: break-word;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.mainContainer > * {
  flex: 1;
  margin-right: 15px;
}

.small-screen {
  display: none;
}

@media (max-width: 768px) {
  .mat-column-title {
    width: 40% !important;
    word-break: break-word;
  }

  .mat-column-language,
  .mat-column-details,
  .mat-column-active,
  .mat-column-preview_url,
  .mat-column-actions {
    width: 10% !important;
    word-break: break-word;
  }
  .mat-column-language,
  .mat-column-creation {
    width: 0%;
    display: none;
  }

  .small-screen {
    display: block;
  }
}
