.mat-card {
  margin: 2em;
}

mat-card-title{
  padding-top: 1em;

}
mat-toolbar-row{
  border-bottom: #3F51B5 1.5px solid;
}

.tab-content {
  padding-top: 2em;
}



.mat-column-name {
  width: 75% !important;
  word-break: break-word;
}
.mat-column-actions {
  width: 25% !important;
  word-break: break-word;
}
