<div class="wrapper" *ngIf="isLoading">
  <div class="inner"><mat-spinner></mat-spinner></div>
</div>
<div class="container" *ngIf="!isLoading">

  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>Settings </mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <form [formGroup]="form" (submit)="onUpdateUser()">
        <div class="formContent">
          <div class="row">
            <div class="column">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="user"
                  placeholder="Username"
                />

              </mat-form-field>

            </div>
            <div class="column">
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  placeholder="Current password"
                />
                <mat-error>Current password.</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="password"
                  formControlName="newPassword"
                  placeholder="New password"
                />
                <mat-error>Invalid password.</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Confirm password"
                  [errorStateMatcher]="matcher"
                />
                <mat-error>Password doesn't match.</mat-error>
              </mat-form-field>
              <button
                class="submitBtn"
                [disabled]="!canEdit"
                mat-raised-button
                color="primary"
                type="submit"
              >
                SAVE
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>
