html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: no-wrap;
  align-items: stretch;
}

.spacer {
  flex: 1 1 auto;
}

h3 {
  margin: auto !important;
  font-weight: 500 !important;
}

.image-preview {
  display: inline-block;
  margin: auto;
  padding-top: 0.5rem;
  img {
    height: 3rem;
    width: auto;
  }
}

.image-preview-table {
  height: 1.5rem;
  width: auto;
}

.input-space {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type="file"] {
  visibility: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
  .inner {
    color: white;
    padding: 12px;
  }
}


.mat-card-header {
  padding: 2em 0 1em;
}

.mat-card {
  margin: 2em;
  width: 80%;
  max-width: 900px;

  .mat-toolbar-row {
    border-bottom: var(--color-primary) 1.5px solid;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .inputs > * {
    flex: 1;
    margin-right: 15px;
  }

}
.tab-content {
  padding-top: 2em;
}


.small-screen {
  display: none;
}

@media (max-width: 768px) {
  .small-screen {
    display: block;
  }
}
