/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.spacer {
  flex: 1 1 auto;
}

h3 {
  margin: auto!important;
  font-weight: 500!important;
}

.image-preview img {
  height: 3rem;
  width: auto;
}

.image-preview-table {
  height: 1.5rem;
  width: auto;
}

.input-space {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type="file"] {
  visibility: hidden;
}
