
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

h3 {
  margin: auto !important;
  font-weight: 500 !important;
}

.image-preview {
  display: inline-block;
  margin: auto;
padding-top: .5rem;
  img {
    height: 3rem;
    width: auto;
  }
}

.image-preview-table {
  height: 1.5rem;
  width: auto;
}

.input-space {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type="file"] {
  visibility: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
.inner {
  color: white;
  padding: 12px;
}
