



.example-card {
-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.example-header-image {
  background-image: url('https://itzel-contreras.s3.us-east-2.amazonaws.com/avatar.jpg');
  background-size: cover;
}

